body{
    background-image: url('world.png');
    background-size: cover;
}
.main-box{
    border: solid darkred 2px;
    width: 40%;
    margin: auto;
    padding: 10px;

}
.title{
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto', sans-serif;

    color: firebrick;
    text-align: center;
}
.questions{
   /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.country{
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto', sans-serif;

    font-size: larger;
    font-weight: bold;
    border: solid darkred 1px;
    border-radius: 20px;
    background-color: yellowgreen;
    text-align: center;
    width: 100px;           /*ugly way with non scaling squares, but correct for the program*/
    height: 100px;



    /*margin-bottom: 5px;*/


}